# # Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# Environment variables & secrets
.env
*.env
standalone_admin_password.txt

# IDEs
.vscode/
.idea/

# Airflow
airflow.db
airflow.cfg

# Generated data
data/landing/*
!data/landing/.gitkeep

data/delta/*
!data/delta/.gitkeep

data/chroma/*
!data/chroma/.gitkeep

# Logs
logs/*
!logs/.gitkeep

# macOS
.DS_Store